<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Deagle"
        tools:targetApi="31">
        <activity
            android:name=".ui.kelas.detail.ClassDetailActivity"

            android:name=".ui.DetailLaporanSoalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LaporSoalActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".ui.DetailHasilActivity"
            android:exported="true"></activity>
        <activity
            android:name=".ui.SelesaiActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BayarActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".ui.UlasanMentorActivity"
            android:exported="true"/>
        <activity
            android:name=".ui.DetailKelasSayaActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TandaiActivity"

            android:exported="false" />
        <activity
            android:name=".ui.BatalActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailSesiActivity"
            android:exported="false" />
        <activity
            android:name=".MainQuizActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailPembelianActivity"
            android:exported="true" />
        <activity
            android:name=".ui.Mulai_Class_Activity"
            android:exported="false" />
        <activity
            android:name=".ui.DetailClassActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VerifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".UnduhSertifActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SertifikatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.StartActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OnboardingActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>